*{
    font-family: sans-serif;
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: normal;
    color: black;
    text-decoration: none;
    text-align: center;
  }
  
  h1{
    text-align: center;
    font-size: 25px;
    background-color: #3B4253;
    color: white;
    padding: 60px;
    
  }
  a {
    border: 1px solid  #C95F70;;
    padding: 10px 25px;
    color:  #C95F70;
    border-radius: 5px;
    margin-top: 50px;
    display: inline-block;
  }
  
  a:hover {
    background-color: #C95F70;
    color: white;
  }
  
  h2{
    font-size: 30px;
    padding: 40px;
    
  }
  .answer{
    border: 1px solid #000;
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 10px;
    text-indent: -9999px;
    background-size: 90%;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .score li {
    margin: 30px;
    padding: 20px;
    background-color: #c488c4;
    list-style: none;
    display: inline-block;
  }
  
  .answer.blue{
    background-image: url("./img/jasmine.png");
  }
  .answer.yellow{
    background-image: url("./img/mermaid.png");
  }
  .answer.orange{
    background-image: url("./img/snowwhite.png");
  }
  
  .answer.purple{
    background-image: url("./img/cinderella.png");
  }
  
  .quiz, .summary {
    display: none;
  }
  .answer {
    cursor: pointer;
  }
  
  .selected {
    background-color: rgb(165, 128, 203);  
  }
  
  img {
    height: 150px;
    margin-top: 25px;
    display:none;
  }
  
  img.show {
    display: inline-block;
  }
  
  